extends templates/base

mixin project(context)
	.card.pushed-vertical.is-rounded.is-clipped
		.columns.section.is-small
			.column
				.columns
					- if(context.icon != null)
						.column.is-3
							img.image.is-rounded(src=context.icon)
					.column
						.title #{context.name.toUpperCase()} #[.subtitle #{context.subtitle}]
						i #{`${context.role}, ${context.timeStarted} - ${context.timeEnded || "ongoing"}`}
				- if(context.description != null)
					p=context.description
			- if(context.links != null)
				.column.is-3
					p Links
					each i in context.links
						button.is-black.is-outlined.button.is-fullwidth(onclick=`window.location="${i.url}"`) #[i.fa-lg(class=i.icon)]
		- if(context.images != null)
			.columns.is-gapless
				each i in context.images
					.column
						img.is-filled-up(src=i onclick=`showModal("${i}")`)
block page
	.modal#modalBase
		.modal-background(onclick="closeModal()")
		.modal-content
			img#modalImg
		button.modal-close.is-large(aria-label="close" onclick="closeModal()")
	.hero.is-dark.is-fullheight#frontpage
		.hero-body
			.container.content
				.title.has-text-centered
					<svg class="logo centered is-light pushed-horizontal is-large is-smoother" viewBox="0 0 210 206" version="1.1">
					<path d="M0,73l4,0l54,123.152l-4,3.848l-50,0l-4,-3.848l0,-123.152Z"/>
					<path d="M0,31.22l0,-24.712l7.204,-6.508l39.221,0l81.575,196.098l-4,3.902l-54.589,-0.122l-69.411,-168.658Z"/>
					<path d="M71,31.22l0,-24.712l7.204,-6.508l39.221,0l80.575,196.098l-4,3.902l-53.589,-0.122l-69.411,-168.658Z"/>
					</svg> 
					span Mike Veldsink
				
				.section.level
					.title.pushed-horizontal I am looking for a
						input.input-landing(placeholder="programmer")#landing-search-bar
					.level.content
						a.is-smooth.is-button.pushed-horizontal(href="mailto:velddev@gmail.com")
							i.fas.fa-envelope.fa-2x
						a.is-smooth.is-button.pushed-horizontal(href="https://github.com/velddev") #[i.fab.fa-github.fa-2x]
						a.is-smooth.is-button.pushed-horizontal(href="https://dribbble.com/veld") #[i.fab.fa-dribbble.fa-2x]
						a.is-smooth.is-button.pushed-horizontal(href="https://www.linkedin.com/in/velddev/") #[i.fab.fa-linkedin.fa-2x]
						
				.content#landing-content
		.hero-footer.section
			.has-text-centered
				button.button.is-large.is-white.is-outlined(onclick="scrollPage(1)")
					p More about me
	.section.is-fullheight.has-background-dark
		.hero-head.section
			.container.content
				h1.title.has-text-white #[i.fas.fa-project-diagram.fa-sm.pushed-horizontal] Projects
				h4.subtitle.has-text-grey Projects I've contributed to
		.hero-body.container.content
			.columns
				.column
					+project({
						name: "Miki",
						subtitle: "A discord bot",
						role: "Creator",
						timeStarted: "2016",
						description: `Miki is a project I started back in 2016 when the discord API got released. As an early bird an influx of users came to my bot, 
						and growth was the main issue for the bot. With some clever technologies and interesting decisions the bot has been alive and funded 
						for over three years as of current day.`,
						icon: "https://cdn.miki.ai/ext/veld-dev/miki.icon.png",
						links: [
							{ url: "https://github.com/mikibot", link: "github", icon: "fab fa-github" },
							{ url: "https://miki.ai/", icon: "fas fa-globe"},
							{ url: "https://twitter.com/miki_discord", icon: "fab fa-twitter"}
						],
						images: [
							"https://cdn.miki.ai/ext/veld-dev/miki-screenshot-1.png"
						]
					})
					+project({
						name: "TapLootChest",
						subtitle: "Mobile infinite tapper game to learn",
						role: "Developer, Artist",
						timeStarted: "2016",
						timeEnded: "2016",
						description: `TapLootChest was a game I produced over summer. This game was focused on learning the google APIs for mobile gaming.
						I added a little bit of extra fun in it by turning it into a proper product and releasing it once it was finished.`,
						icon: "https://cdn.miki.ai/ext/veld-dev/taplootchest.icon.webp",
						links: [
							{ url: "https://play.google.com/store/apps/details?id=com.veld.taplootchest&hl=en", icon: "fab fa-google-play" }
						],
						images: [
							"https://cdn.miki.ai/ext/veld-dev/taplootchest-ss-1.webp",
							"https://cdn.miki.ai/ext/veld-dev/taplootchest-ss-2.webp",
							"https://cdn.miki.ai/ext/veld-dev/taplootchest-ss-3.webp",
						]
					})
				.column
					+project({
						name: "Bone Voyage", 
						subtitle: "A homage to classic adventure games.",
						role: "Lead programmer",
						timeStarted: "2018",
						description: `Bone voyage is a game I have been working on for my third year of university. My role of the project was being the lead programmer, and 
						my responsibilites were to keep the game functional and to keep an overview of the quality and the functionality of the game.`,
						icon: "https://cdn.miki.ai/ext/veld-dev/bonevoyage.icon.png",
						links: [
							{ url: "https://miki.ai/", icon: "fas fa-globe"},
							{ url: "https://twitter.com/bonevoyagegame", icon: "fab fa-twitter" },
							{ url: "https://facebook.com/bonevoyagegame", icon: "fab fa-facebook" },
							{ url: "https://store.steampowered.com/app/1058370/Bone_Voyage/", icon: "fab fa-steam" },
						], 
						images: [
							"https://cdn.miki.ai/ext/veld-dev/bonevoyage-ss-1.jpg",
							"https://cdn.miki.ai/ext/veld-dev/bonevoyage-ss-2.jpg",
							"https://cdn.miki.ai/ext/veld-dev/bonevoyage-ss-3.jpg"
						]
					})
					+project({
						name: "Alchemisery",
						subtitle: "A game about alchemy using a custom-made controller",
						role: "Gameplay lead",
						timeStarted: 2017,
						timeEnded: 2017,
						icon: "https://cdn.miki.ai/ext/veld-dev/alchemisery.logo.png",
						description: `Alchemisery was a 2 week long game jam game made in my second year of university. The requirements of the gamejam were that the
						game had to be played with a custom-made controller, which would be assembled, and programmed in the same two weeks. I was in charge of the game
						while another programmer made the bindings for the controller.`,
						images: [
							"https://cdn.miki.ai/ext/veld-dev/alchemisery-ss-1.png"
						],
					})
					+project({
						name: "Rail Recon", 
						subtitle: "A top down rail-based shooter with a knack for puzzling", 
						role: "AI Programmer, QA Lead",
						timeStarted: "2017",
						timeEnded: "2017",
						description: `For Rail Recon I write the new AI that was at first very basic. What I did to improve it, is by implementing features such as
						node-based A* pathfinding, collision checks before the enemy would see and/or initiate combat on the opponent, and adding basic search functions
						for the enemies.`,
						icon: "https://cdn.miki.ai/ext/veld-dev/railrecon.icon.png",
						images: [
							"https://cdn.miki.ai/ext/veld-dev/railrecon-ss-1.jpg",
							"https://cdn.miki.ai/ext/veld-dev/railrecon-ss-2.jpg",
							"https://cdn.miki.ai/ext/veld-dev/railrecon-ss-3.jpg"
						],
						links: [
							{ url: "https://store.steampowered.com/app/746860/Rail_Recon/", icon: "fab fa-steam"},
						]
					})
	script(src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.3.0/fuse.min.js")
	script
		include ../js/home.js